code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.slick-slider {
  width: 100%;
}

.reloadDouble {
  border-color: transparent gray;
  border-radius: 50%;
  border-style: solid;
  border-width: 0.125em;
  height: 1.5em;
  margin: 0.25em;
  width: 1.5em;
}
.reloadDouble:before,
.reloadDouble:after {
  border-style: solid;
  content: "";
  display: block;
  position: absolute;
  width: 0;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.reloadDouble:after {
  border-color: transparent transparent transparent gray;
  border-width: 0.3125em 0 0.3125em 0.5em;
  top: -0.3125em;
  left: 0.0625em;
}
.reloadDouble:before {
  border-color: transparent gray transparent transparent;
  border-width: 0.3125em 0.5em 0.3125em 0;
  bottom: -0.3125em;
  right: 0.0625em;
}
.reloadSingle {
  height: 2em;
  padding: 0.25em;
  width: 2em;
}
.reloadSingle:before,
.reloadSingle:after {
  content: "";
  display: block;
}
.reloadSingle:before {
  border-color: transparent gray gray gray;
  border-radius: 50%;
  border-style: solid;
  border-width: 0.125em;
  height: 1.5em;
  width: 1.5em;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.reloadSingle:after {
  border-color: transparent transparent transparent gray;
  border-style: solid;
  border-width: 0.3125em 0 0.3125em 0.5em;
  height: 0;
  position: absolute;
  top: 0;
  left: 50%;
  width: 0;
}

table {
  text-align: left;
  position: relative;
  width: 100%;
  border-collapse: collapse;
}
tr {
  border-bottom: 1px solid gainsboro !important;
}
th,
td {
  padding: 0.25rem;
  font-size: small;
  border-bottom: 1px solid gainsboro !important;
  border-right: 1px solid gainsboro !important;
}
tr.liteGray th {
  background: #212121;
  color: white;
}
tr.green th {
  background: green;
  color: white;
}
tr.purple th {
  background: purple;
  color: white;
}
th {
  background: white;
  position: sticky;
  top: 0;
  z-index: 1; /* Don't forget this, required for the stickiness */
}
